.radar-chart .axis .legend {
  color: #ccc;
  font-size: 0.85em;
}
.radar-chart .area {
  fill: #ADD8E6;
  fill-opacity: 0.7;
}
.radar-chart.focus .area {
  fill-opacity: 0.3;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}
.radar-chart .circle {
  display: none;
}
.radar-chart .level {
  stroke: #ddd;
}
.radar-chart .axis line {
  stroke: #ddd;
}
